{% block left_teaser %}
    <p>Some content for the left teaser box</p>
{% endblock %}
{% block right_teaser %}
    <p>Some content for the right teaser box</p>
{% endblock %}
{% block bottom_teaser %}
    <p>Some content for the bottom teaser box</p>
{% endblock %}